.title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-weight: 400;
    color: #263633;
    &_fz40 {
        font-size: 40px;
    }
    &_fz58 {
        font-size: 58px;
        line-height: 67px;
        text-align: left;
        color: $main-color;
    }
}

.mini-title {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #64726F;
}